.name {
    position-top: 15px;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.header {
    height: 38px;
    padding: 26px;
    text-align: bottom;
    margin-left: 100px;
    float: left;
    background-color: #4aaaa5;
}

a {
    text-decoration: none;
    color: #d1d1d1;
}

h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 1.8em;
    font-weight: bold;
    color: white;
    vertical-align: center;
}

.navbar {
    height: 90px;
    width: 270px;
    line-height: 90px;
    margin-right: 150px;
    float: right;
    background-color: white;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #d1d1d1;
    font-size: 20px;
    text-decoration: none;
    width: auto;
}

#head {
    height: 90px;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
    overflow: auto;
}

h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    font-size: 2em;
    font-weight: bold;
}

#bio-image {
    float: left;
    padding: 0px 20px 10px 0px;
}

p {
    font-size: 15px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    line-height: 30px;
}

.content-wrapper {
    clear: both;
    border: 1px solid #dddddd;
    margin: 50px 35px 50px 100px;
    padding: 35px;
    background-color: #ffffff;
    width: 650px;
    float: left;
}

body {
    background-image: url("https://salmui.github.io/assets/images/background.png");
    margin: 0 0 100px;
}

.connecthead {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}


#connect {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    width: 240px;
    height: auto;
    margin: 50px 20px;
    float: left;
    padding: 30px 30px;
    margin-right: 20px;
}

.icon {
	margin: 10px;
}

h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    font-size: 2em;
    font-weight: bold;
}
 


footer {
    position: relative;
    top: 100px;
    color: white;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-align: center;
    clear: both;
    background-color: #666666;
    height: 100px;
    width: 100%;
    border-top: 10px solid #4aaaa5;
    line-height: 100px;
}


input[type=text] {
    width: 100%;
    height: 35px;
    border: 2px solid #d1d1d1;
    color: #666666;
}

textarea {
    width: 100%;
    height: auto;
}

#contactform {
    font-size: 18px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #666666;
}

input[type=submit] {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    border: 0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background: #4aaaa5;
    color: white;
    font-size: 12px;
}

.img-title {
    position: relative;
    bottom: 75px;
    float: left;
    text-align: center;
    line-height: 60px;
    height: 60px;
    background-color: #4aaaa5;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 16px;
    width: 200px;
}

.portfolio-img {
	float:left;
	display: inline;
	width: 275px;
	margin-left: 50px;
}




